<!-- Sidebar -->
<div class="sidebar" >
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/clients/dist/img/logo.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block"></a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <!--<div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas f
                </button>
            </div>
        </div>
    </div>-->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            @*  <li class="nav-item">
            <a href="/admin/category" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Danh mục
                </p>
            </a>

        </li>
        <li class="nav-item">
            <a href="/admin/news" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Tin tức
                </p>
            </a>
        </li>*@
            @* <li class="nav-item">
            <a href="/admin/posts" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Bài viết
                </p>
            </a>
        </li>*@
            <li class="nav-item">
                <a href="/admin" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý hoa

                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/loaihoa" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Loại hoa</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/hoa" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Hoa</p>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a href="/admin/hoadon" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đơn đặt hàng
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/thongke" class="nav-link">
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>
                        Thống kê
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-edit"></i>
                    <p>
                        Quản lý thông tin
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview" style="display: block;">
                    <li class="nav-item">
                        <a href="/admin/nhanvien" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Nhân viên</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/khachhang" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p> Khách hàng</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/admin/kho" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý kho

                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/phieunhap" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Nhập kho</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/kho" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Chi tiết kho</p>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:document.getElementById('logOffForm').submit()" class="nav-link">
                    <i class="nav-icon fas fa-edit"></i>
                    <p>
                        Đăng xuất
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
@if (Request.IsAuthenticated)
{
    <div style="display:none">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
        {
            @Html.AntiForgeryToken()}
    </div>}