@{
    ViewBag.Title = "Giới thiệu";
}

<link href="~/Content/assets/styles/main_styles.css" rel="stylesheet" />
<!-- Slider -->
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <<h2 id="title">@ViewBag.Title.</h2>
                    <p>
                        HighKat luôn chú trọng vào khâu tuyển chọn nhằm tìm ra những bông hoa xinh đẹp, ngọt ngào,thơ mọng,
                        tươi mát cùng với hương thơm diu dàng gửi đến cho khách hàng nhằm giúp khách hàng có những trải nghiệm tốt nhất,
                        tạo một cảm giác bình yên, nhẹ nhàng và gần gũi. Cùng với đội ngũ các bạn trẻ đầy năng động, sáng tạo tràn đầy đam mê và n
                        hiệt huyết kết nối cảm xúc vào những bông hoa lan tỏa yêu thương qua từng cánh hoa nhỏ. Mang đến cho khách hàng những sản phẩm hoa
                        đẹp và chất lượng tốt, mỗi sản phẩm hoa chúng tôi mang đến cho khách hàng bằng sự tận tâm và trân trọng.
                    </p>
                </div>
            </div>
        </div>
    </div>


